body {
    width: 1310px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    background-color: #ffffff;
}

h1 {
    font-size: 40px;
    color: #007d7b;
    text-transform: uppercase;
}

nav {
    color: #ffffff;
}

contact {
    color: #ffffff;
}