body {
    width: 1310px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    background-color: #ffffff;
    padding: 10px;
    height: 1800px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    color: #007d7b;
    text-transform: uppercase;
}

nav {
    color: #ffffff;
    float: right;
    position: absolute;
    top: 0px;
    right: 250px;
    font-weight: bold;
}

nav h2 {
    visibility: hidden;
}

nav li {
    display: inline;
    font-size: 20px;
    margin-left: 100px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: #007d7b;
}

[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #007d7b;
    padding: 15px;
}

[href="#top"]:hover {
    background-color: #ffffff;
    color: #007d7b;
}

h2 {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
}

#about {
    clear: both;
    margin-bottom: 10px;
}

#about h2 {
    float: right;
    margin-right: 15px;
}

#about p {
    font-size: 20px;
    display: inline;
    text-align: right;
    width: 420px;
    position: absolute;
    top: 200px;
    right: 375px;
}

p {
    font-size: 20px;
    margin: 0px;
}

#gallery p {
    margin-bottom: 10px;
}

figure {
    display: inline;
    float: left;
    z-index: 1;
    margin: 0px 10px 10px 0px;
}

figcaption {
    z-index: 2;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    margin: 5px;
}

#guatemala figcaption, #hawaii figcaption, #ireland figcaption, #italy figcaption, #desert figcaption, #uk figcaption, #usa figcaption, #wyoming figcaption {
    color: #ffffff;
}

#hawaii figcaption {
    padding: 250px 0px 0px 300px;
}

#ireland figcaption {
    padding: 600px 0px 0px 295px;
}

#italy figcaption {
    padding-top: 600px;
}

#desert figcaption {
    padding: 250px 0px 0px 250px;
}

#switzerland figcaption {
    padding-top: 250px;
}

#uk figcaption {
    padding: 250px 0px 0px 340px;
}

footer {
    clear: both;
    color: #ffffff;
    text-align: center;
}

footer p {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
}

form {
    font-size: 16px;
    width: 850px;
    margin: 0 auto;
}

label {
    float: left;
}

input {
    clear: both;
    border: none;
    width: 850px;
    height: 35px;
    margin: 5px 0px;
    color: #007d7b;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
}

#submit {
    border: none;
    border-radius: 10px;
    background-color: #007d7b;
    color: #ffffff;
    width: 420px;
    height: 35px;
    margin: 5px 0px 25px 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

footer small {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 50px;
}